@import 'https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700';

* {
  margin: 0;
  padding: 0;
}
input::placeholder {
  font-size: 12px;
  color: #aaa;
  text-transform: uppercase;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input {
  width: 80%;
  background: #fff;
  margin: 0 0 20px;
  bottom: 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  outline: none;
  transition: all 0.3s ease 0s;
}
input:focus {
  outline: none;
  border-color: #aaa;
}
#registerFirstName,
#registerLastName,
#registerPassword,
#registerConfirmPassword {
  width: 40%;
}

button {
  background: #232323;
  height: 45px;
  line-height: 45px;
  padding: 0 40px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
button:hover {
  background: #fff;
  color: #232323;
  border-color: #232323;
}
.overlay-panel button {
  background: #fff;
  color: #232323;
}
.overlay-panel button:hover {
  background: #232323;
  color: #fff;
  border-color: #fff;
}

#passwordRecovery {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #232323;
  transition: all 0.3s ease 0s;
}
#passwordRecovery:hover {
  color: #333;
  text-decoration: underline;
}
.message {
  font-size: 14px;
  color: #999;
  margin: 15px 0 0;
  letter-spacing: 1px;
  font-style: italic;
}
#registerLink,
#loginLink {
  color: #232323;
}

.main-wrapper {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
}
.main-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.main{
  position: relative;
  height: 500px;
  width: 60%;
  margin: auto;
  text-align: center;
  max-width: 100%;
  background: #fff;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.lrAnimation {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.login {
	width: 50%;
	z-index: 2;
  position: relative;
}

.main.right-panel-active .login {
	transform: translateX(100%);
}

#loginUserName {
  margin-top: 115px;
}
#registerForm {
  margin-top: 100px;
}

.register {
  background: #fff;
	width: 50%;
	opacity: 0;
	z-index: 1;
}
.main.right-panel-active .register {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	50%, 100% {
		opacity: 1;
		z-index: 5;

	}
}

.overlay-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.main.right-panel-active .overlay-wrapper{
	transform: translateX(-100%);
}

.overlay {
	background: #232323;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.main.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
  float: left;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 40%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel h1 {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.overlay-panel p {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
}

.overlay-login {
	transform: translateX(-20%);
}

.main.right-panel-active .overlay-login {
	transform: translateX(0);
}

.overlay-register {
	right: 0;
	transform: translateX(0);
}

.main.right-panel-active .overlay-register {
	transform: translateX(20%);
}
